<%= form_for(user_account) do |f| %>
  <% if user_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

      <ul>
      <% user_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :account_balance %>
    <%= f.text_field :account_balance %>
  </div>

    <div class="field">
    <%= f.label :product_ids, "Products" %><br />
    <%= f.collection_select :product_id, Product.order(:name), :id, :name, {}, {multiple: false} %>

  </div>

  <div class="field">
    <%= f.label :service_ids, "Communities" %><br />
    <%= f.collection_select :service_id, Service.order(:name), :id, :name, {}, {multiple: false} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
