<p id="notice"><%= notice %></p>

<h1>Call Charges</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @call_charges.each do |call_charge| %>
      <tr>
        <td><%= link_to 'Show', call_charge %></td>
        <td><%= link_to 'Edit', edit_call_charge_path(call_charge) %></td>
        <td><%= link_to 'Destroy', call_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call Charge', new_call_charge_path %>
