<h1>System Home</h1>
<table class="table table-bordered">
  <tr>
    <th><%= "pages" %></th>
    <th><%= "pages" %></th>
    <th><%= "pages" %></th>
  </tr>
  <tr>
    <td><%= link_to "users", user_accounts_path %></td>
    <td><%= link_to "offers", offers_path %></td>
    <td><%= link_to "products", products_path %></td>
  </tr>

</table>