<p id="notice"><%= notice %></p>

<h1>Bonus Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Ba val available</th>
      <th>Ba val change</th>
      <th>Ba val before</th>
      <th>Ba pulse</th>
      <th>Ba on net tariff</th>
      <th>Ba off net tariff</th>
      <th>Ba atw</th>
      <th>Ba call destination,</th>
      <th>Ba priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus_accounts.each do |bonus_account| %>
      <tr>
        <td><%= bonus_account.ba_val_available %></td>
        <td><%= bonus_account.ba_val_change %></td>
        <td><%= bonus_account.ba_val_before %></td>
        <td><%= bonus_account.ba_pulse %></td>
        <td><%= bonus_account.ba_on_net_tariff %></td>
        <td><%= bonus_account.ba_off_net_tariff %></td>
        <td><%= bonus_account.ba_atw %></td>
        <td><%= bonus_account.ba_call_destination %></td>
        <td><%= bonus_account.ba_priority %></td>
        <td><%= link_to 'Show', bonus_account %></td>
        <td><%= link_to 'Edit', edit_bonus_account_path(bonus_account) %></td>
        <td><%= link_to 'Destroy', bonus_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonus Account', new_bonus_account_path %>
