<p id="notice"><%= notice %></p>

<p>
  <strong>Ba val available:</strong>
  <%= @bonus_account.ba_val_available %>
</p>

<p>
  <strong>Ba val change:</strong>
  <%= @bonus_account.ba_val_change %>
</p>

<p>
  <strong>Ba val before:</strong>
  <%= @bonus_account.ba_val_before %>
</p>

<p>
  <strong>Ba pulse:</strong>
  <%= @bonus_account.ba_pulse %>
</p>

<p>
  <strong>Ba on net tariff:</strong>
  <%= @bonus_account.ba_on_net_tariff %>
</p>

<p>
  <strong>Ba off net tariff:</strong>
  <%= @bonus_account.ba_off_net_tariff %>
</p>

<p>
  <strong>Ba atw:</strong>
  <%= @bonus_account.ba_atw %>
</p>

<p>
  <strong>Ba call destination,:</strong>
  <%= @bonus_account.ba_call_destination, %>
</p>

<p>
  <strong>Ba priority:</strong>
  <%= @bonus_account.ba_priority %>
</p>

<%= link_to 'Edit', edit_bonus_account_path(@bonus_account) %> |
<%= link_to 'Back', bonus_accounts_path %>
