<p id="notice"><%= notice %></p>

<h1>Isd Tariffs</h1>

<table>
  <thead>
    <tr>
      <th>Pulse</th>
      <th>Tariff</th>
      <th>Number prefix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @isd_tariffs.each do |isd_tariff| %>
      <tr>
        <td><%= isd_tariff.pulse %></td>
        <td><%= isd_tariff.tariff %></td>
        <td><%= isd_tariff.number_prefix %></td>
        <td><%= link_to 'Show', isd_tariff %></td>
        <td><%= link_to 'Edit', edit_isd_tariff_path(isd_tariff) %></td>
        <td><%= link_to 'Destroy', isd_tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isd Tariff', new_isd_tariff_path %>
