<p id="notice"><%= notice %></p>

<h1>Communities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comm pulse</th>
      <th>Comm on net tariff</th>
      <th>Comm off net tariff,</th>
      <th>Comm atw,</th>
      <th>Comm call destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.name %></td>
        <td><%= community.comm_pulse %></td>
        <td><%= community.comm_on_net_tariff %></td>
        <td><%= community.comm_off_net_tariff, %></td>
        <td><%= community.comm_atw, %></td>
        <td><%= community.comm_call_destination %></td>
        <td><%= link_to 'Show', community %></td>
        <td><%= link_to 'Edit', edit_community_path(community) %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community', new_community_path %>
